<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/templates/err/error.css}">
    <script th:src="@{/templates/err/error.js}"></script>
</head>
<body>
<div class="text">
    <div>ERROR</div>
    <h1>404</h1>
    <hr>
    <div>Page Not Found</div>
</div>

<div class="astronaut">
    <img src="https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png" alt="" class="src">
</div>
</body>
</html>