<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Оформление заказа</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigationPanel(OrderNew)}"/>
    <h1 th:text="${username + ', Ваш заказ:'}"></h1>
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Название</th>
                <th>Количество</th>
                <th>Цена</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="oi : ${@cart.items}">
                <td th:text="${oi.product.title}"/>
                <td th:text="${oi.quantity}"/>
                <td th:text="${oi.quantity +' x '+ oi.pricePerProduct + ' = ' + oi.price}"/>
            </tr>
            <tr>
                <td></td>
                <td>Итого:</td>
                <td th:text="${@cart.price}"/>
            </tr>
            </tbody>
        </table>
        <h1>Данные поекпателя</h1>
        <form method="POST" th:action="@{/orders/confirm}">
            <div class="form-group col-md-6">
                <label for="receiver_name">Получатель</label>
                <input class="form-control" required name="receiver_name" type="text" id="receiver_name" th:value="${username}" placeholder="Имя получателя">
            </div>
            <div class="form-group col-md-6">
                <label for="phone_number">Телефон</label>
                <input class="form-control" required name="phone_number" type="text" id="phone_number" placeholder="Телефон">
            </div>
            <div class="form-group col-md-6">
                <label for="address">Адрес доставки</label>
                <input class="form-control" required name="address" type="text" id="address" placeholder="Адрес доставки">
            </div>
            <button class="btn btn-warning" type="submit">Оформить заказ</button>
        </form>
        <br>
        <a th:href="@{/products}" class="btn btn-primary">На главную страницу</a>
    </div>
</div>
</body>
</html>